<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_Messages>
            <version>0.1.0</version>
        </Aligent_Messages>
    </modules>
    <global>
        <blocks>
            <aligent_messages>
                <class>Aligent_Messages_Block</class>
            </aligent_messages>
        </blocks>
        <models>
            <aligent_messages>
                <class>Aligent_Messages_Model</class>
            </aligent_messages>
        </models>
        <helpers>
            <aligent_messages>
                <class>Aligent_Messages_Helper</class>
            </aligent_messages>
        </helpers>
    </global>
    <frontend>
        <events>
            <controller_front_send_response_before>
                <observers>
                    <capture_messages_before>
                        <type>singleton</type>
                        <class>aligent_messages/messages</class>
                        <method>messagesControllerFrontSendResponseBefore</method>
                    </capture_messages_before>
                </observers>
            </controller_front_send_response_before>
            <controller_front_send_response_after>
                <observers>
                    <capture_messages_after>
                        <type>singleton</type>
                        <class>aligent_messages/messages</class>
                        <method>messagesControllerFrontSendResponseAfter</method>
                    </capture_messages_after>
                </observers>
            </controller_front_send_response_after>
            <core_session_abstract_add_message>
                <observers>
                    <aligent_messages>
                        <type>singleton</type>
                        <class>aligent_messages/messages</class>
                        <method>addMessageDetails</method>
                    </aligent_messages>
                </observers>
            </core_session_abstract_add_message>
        </events>
        <layout>
            <updates>
                <aligent_messages>
                    <file>aligent/messages.xml</file>
                </aligent_messages>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aligent_messages>
                                            <title>Aligent Messages Configuration</title>
                                        </aligent_messages>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
